.content {
  background-color: #ffffff;
  background-image: url("/assets/19366.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.back {
  width: 100%;
  height: calc(100vh - 84px);
}
