.grid {
  height: calc(100vh - 120px);
}

clr-dg-detail-body label{
  font-weight: bold;
}

clr-dg-detail-body div.clr-row{
  margin-bottom: 5px;
  border-bottom: solid 1px gray;
}

.btn.btn-return {
  background-color: #e87600;
  border-color: #e87600;
}
