
<div class="main-container">
  <header class="header-6">
    <div class="branding">

    </div>
    <div class="header-nav">
        <a [routerLink]="''" class="nav-link nav-text"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Главная</a>
        <a [routerLink]="'orders'" class="nav-link nav-text"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Поручения</a>
        <a [routerLink]="'users'" class="nav-link nav-text" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" *ngIf="getRole()===3">Пользователи</a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
          <button class="nav-link nav-icon-text" clrDropdownTrigger aria-label="toggle settings menu">
            <clr-icon shape="user"></clr-icon>
            <span class="nav-text">{{getUsername()}}</span>
              <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
              <a (click)="logout()" clrDropdownItem>Log out</a>
          </clr-dropdown-menu>
      </clr-dropdown>
  </div>
</header>
  <div class="content-container">
      <div class="content-area">
         <router-outlet></router-outlet>
      </div>
  </div>
</div>
