<div>
    <clr-modal [(clrModalOpen)]="visible"  [clrModalSize]='"lg"'>
        <h3 class="modal-title">Сменить пароль пользователя</h3>
        <div class="modal-body">

            <form [formGroup]="form" clrForm>
                    <clr-password-container>
                        <label for="password"  class="clr-col-3 clr-col-md-3">Новый пароль</label>
                        <input clrPassword placeholder="" size="30" formControlName="password"  class="clr-col-9 clr-col-md-9">
                        <clr-control-error></clr-control-error>
                    </clr-password-container>
                    <clr-password-container>
                        <label for="confirm"  class="clr-col-3 clr-col-md-3">Подтверждение</label>
                        <input clrPassword placeholder="" size="30" formControlName="confirm"  class="clr-col-9 clr-col-md-9">
                        <clr-control-error></clr-control-error>
                    </clr-password-container>
            </form>

            <div style="height:36px">
                <clr-alerts>
                    <clr-alert [clrAlertType]="'danger'" [clrAlertAppLevel]="true" [clrAlertClosable]="false" [clrAlertClosed]="!validateError(form,'password','required')">
                        <clr-alert-item class="alert-item">
                            <span>Необходимо ввести пароль.</span>
                        </clr-alert-item>
                    </clr-alert>
                    <clr-alert [clrAlertType]="'danger'" [clrAlertAppLevel]="true" [clrAlertClosable]="false" [clrAlertClosed]="!validateError(form,'password','minlength')">
                        <clr-alert-item class="alert-item">
                            <span>Пароль должен быть не меньше 6 символов</span>
                        </clr-alert-item>
                    </clr-alert>

                    <clr-alert [clrAlertType]="'danger'" [clrAlertAppLevel]="true" [clrAlertClosable]="false" [clrAlertClosed]="!validateError(form,'confirm','required')">
                        <clr-alert-item class="alert-item">
                            <span>Необходимо ввести подтверждение.</span>
                        </clr-alert-item>
                    </clr-alert>
                    <clr-alert [clrAlertType]="'danger'" [clrAlertAppLevel]="true" [clrAlertClosable]="false" [clrAlertClosed]="!(form.get('confirm').hasError('minlength') && (form.get('confirm').dirty&&form.get('confirm').touched))">
                        <clr-alert-item class="alert-item">
                            <span>Подтверждение должено быть не меньше 6 символов</span>
                        </clr-alert-item>
                    </clr-alert>
                    <clr-alert [clrAlertType]="'danger'" [clrAlertAppLevel]="true" [clrAlertClosable]="false" [clrAlertClosed]="!(form.get('confirm').hasError('mismatchedPassword') && !form.get('confirm').hasError('required') && !form.get('confirm').hasError('minlength') && (form.get('confirm').dirty&&form.get('confirm').touched))">
                        <clr-alert-item class="alert-item">
                            <span>Пароль и подтверждение должны совпадать</span>
                        </clr-alert-item>
                    </clr-alert>

                </clr-alerts>
            </div>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary-outline" (click)="visible = false">Отмена</button>
            <button type="button" class="btn btn-success-outline" (click)="onOk()" [disabled]="form.invalid">Применить</button>
        </div>
    </clr-modal>
</div>
